@media (max-width: 575px) {
    .add-book {
        display: block;
    }

    main {
        display: block;
    }

    .aside-grid {
        display: none;
        position: absolute;
        right: 0;
    }
}