@media (max-width: 575px) {
    .add-book {
        display: flex;
    }

    main {
        display: block;
    }

    .aside-grid {
        display: none;
        position: absolute;
        right: 0;
        z-index: 10;
    }

    header h1 {
        top: 15px;
    }
}